body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* outer circle style */
.outer-circle {
    height: 50vh;
    width: 50vh;
    background-color: #6D0DAA;
    position: absolute;
    top: 25%;
    left: 35%;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 30% 70% 70% 30% / 41% 30% 70% 59%;
    box-shadow:
    /* thanks: https://9elements.github.io/fancy-border-radius/ */
        2px 1.1px 3.8px rgba(0, 0, 0, 0.046),
        4.5px 2.4px 8.4px rgba(0, 0, 0, 0.068),
        7.5px 4px 14px rgba(0, 0, 0, 0.084),
        11.4px 6px 21.2px rgba(0, 0, 0, 0.098),
        16.4px 8.6px 30.6px rgba(0, 0, 0, 0.11),
        23.2px 12.2px 43.2px rgba(0, 0, 0, 0.122),
        32.9px 17.3px 61.3px rgba(0, 0, 0, 0.136),
        47.8px 25.2px 89.1px rgba(0, 0, 0, 0.152),
        73.7px 38.8px 137.3px rgba(0, 0, 0, 0.174),
        131px 69px 244px rgba(0, 0, 0, 0.22);
}
/* hour hand style */
.hour-hand {
    height: 5px;
    width: 50%;
    background-color: red;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
}
/* minute hand style */
.min-hand {
    height: 5px;
    width: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.2s;
}
/* second hand style */
.sec-hand {
    height: 5px;
    width: 50%;
    background-color: rgb(115, 212, 24);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transition: all 0.2s;
    transform: rotate(90deg);
}

h1 {
    font-family: 'Lobster', cursive;
    position: absolute;
    left: 43%;
    font-size: 30px;
}